{% extends "layout.html" %}

{% block content %}

<section id="intro">

  <header>
    <a href="/">
      <img src="/logo.png" alt="Logo Casa Criativa">
    </a>
  </header>

  <main>  
    <p>
    Fica em casa em período longos, não deve ser nada fácil.
    </p>

    <p>
    Por isso, iremos catalogar ideias, <strong>brincadeiras, jogos, filmes, livros,
    cursos, dicas</strong> e tudo que for necessário para tornar esse momento mais
    interessante.
    </p>

    <p>
    Comece cliando em ver ideias para ver as ideias cadastraas e contribua
    adicionando a sua ideia.
    </p> 
  </main>

  <section id="buttons">
    <button onclick="onOff()">+ Adicionar Ideia</button>
    <a href="/ideias" class="button">Ver Ideias</a>
  </section>

  <footer>
    Com ❤ <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
  </footer>

</section>

<section id="last-ideias">
  {% include "all_ideas.html" %}         
</section>

{% endblock %}
